

// =============================================================================
// FOOTER OVERVIEW
//
// Basic footer
//
// =============================================================================

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  // background-color: gray;
  // color: black;
}
