<!DOCTYPE html>
{% set lang = "ko" %}
{% set locale = "ko_KR" %}
<html lang="{{lang}}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if noindex or draft -%}
    <meta name="robots" content="noindex">
  {%- endif %}
  {% if offline %}
    <meta name="offline" content="true" />
  {%- endif %}

  {% Meta locale, page, collections %}

  <meta name="full_width" value="true" />
  <meta name="theme-color" content="#FFF" />
  <link rel="stylesheet" href="/app.css">
  <link rel="manifest" href="/manifest.webmanifest" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
  <link
    rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:400,400italic,500,500italic|Roboto+Condensed:400,700|Roboto+Mono:400,500|Material+Icons"
  />
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  <meta name="google-site-verification" content="turRzqtF_SNbSrs1fyPn1i2vB2tEGsdtDkjMARhpD9o" />
  <script type="module" src="/bootstrap.js"></script>
</head>
<body class="unresolved">
  <div class="w-loading-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100 hidden"></div>
  <web-header role="navigation">
    <button class="web-header__hamburger-btn unresolved" aria-label="menu"></button>

    <a
      href="/"
      class="web-header__logo-link"
      data-category="Site-Wide Custom Events"
      data-label="Site logo"
    >
      <img class="web-header__logo" src="/images/logo.svg" alt="yunha-ind" />
    </a>

    <div class="web-header__middle">
      <div class="web-header__links">
        <a
          href="/blog/"
          class="web-header__link"
          data-category="Site-Wide Custom Events"
          data-lable="Tab: Blog"
        >
          Blog
        </a>
        <a
          href="/quicktips/"
          class="web-header__link"
          data-category="Site-Wide Custom Events"
          data-lable="Tab: tips"
        >
          Quick Tips
        </a>
        <a
          href="/resume/"
          class="web-header__link"
          data-category="Site-Wide Custom Events"
          data-lable="Tab: resume"
        >
          Resume
        </a>
        <a
          href="/about/"
          class="web-header__link"
          data-category="Site-Wide Custom Events"
          data-lable="Tab: About"
        >
          About
        </a>
      </div>
    </div>
  </web-header>

  <web-side-nav class="unresolved">
    <a
      href="/blog/"
      class="web-side-nav__link"
      data-category="Site-Wide Custom Events"
      data-label="SideNav: Blog"
    >
      Blog
    </a>
    <a
      href="/quicktips/"
      class="web-side-nav__link"
      data-category="Site-Wide Custom Events"
      data-label="SideNav: Quick Tips"
    >
      Quick Tips
    </a>
    <a
      href="/resume/"
      class="web-side-nav__link"
      data-category="Site-Wide Custom Events"
      data-label="SideNav: Resume"
    >
      Resume
    </a>
    <a
      href="/about/"
      class="web-side-nav__link"
      data-category="Site-Wide Custom Events"
      data-label="SideNav: About"
    >
      About
    </a>
  </web-side-nav>
  {# <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">YUNHA Engineering</h3>
      <h6 class="mdc-drawer__subtitle">hadbsgk@gmail.com</h6>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        {%- for nav in collections.nav | reverse -%}
          <a class="mdc-list-item {% if nav.url == page.url %}mdc-list-item--activated{% endif %}" href="{{nav.url}}" aria-current="page">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ nav.data.navIcon }}</i>
            <span class="mdc-list-item__text">{{ nav.data.navtitle }}</span>
          </a>
        {%- endfor -%}
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title">
          <a href="/"><img src="/images/logo.svg" style="height: 30px;" alt="YUNHA Industries" height="42"></a>
        </span>
      </section>

      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <div class="mdc-tab-bar" role="tablist">
          <div class="mdc-tab-scroller mdc-tab-scroller--align-end">
            <div class="mdc-tab-scroller__scroll-area">
              <div class="mdc-tab-scroller__scroll-content">
                {%- for nav in collections.nav | reverse -%}
                <a href="{{nav.url}}">
                  <button class="mdc-tab mdc-tab--active yunha-inc-tab mdc-tab--min-width" role="tab" aria-selected="true"
                    tabindex="0">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label">{{ nav.data.navtitle }}</span>
                    </span>
                    <span class="mdc-tab-indicator {% if nav.url == page.url %}mdc-tab-indicator--active{% endif %} yunha-inc-tab-indicator">
                      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                </a>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </header>
  <div class="main-content" id="main-content">
    {{ content | safe }}
  </div> #}
  <main>
    <div id="content">
      {{ content | safe }}
    </div>
  </main>
  {% include 'partials/footer.njk' %}

  {# <script src="/bundle.js" async></script> #}
  <script type="module" src="/bootstrap.js"></script>
</body>

</html>
