<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
  <link
    rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:400,400italic,500,500italic|Roboto+Condensed:400,700|Roboto+Mono:400,500|Material+Icons"
  />
  <title>{{ title if title else path.title }}</title>
</head>
<body>
  <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">YUNHA Engineering</h3>
      <h6 class="mdc-drawer__subtitle">hadbsgk@gmail.com</h6>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="/blog" aria-current="page">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">book</i>
          <span class="mdc-list-item__text">Blog</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
          <span class="mdc-list-item__text">Resume</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">work</i>
          <span class="mdc-list-item__text">Project</span>
        </a>
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title">
          <a href="/"><img src="/images/logo.png" alt="YUNHA Industry" height="42"></a>
        </span>
      </section>

      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <div class="mdc-tab-bar" role="tablist">
          <div class="mdc-tab-scroller mdc-tab-scroller--align-end">
            <div class="mdc-tab-scroller__scroll-area">
              <div class="mdc-tab-scroller__scroll-content">
                {%- for nav in collections.nav | reverse -%}
                <a href="{{nav.url}}">
                  <button class="mdc-tab mdc-tab--active yunha-inc-tab mdc-tab--min-width" role="tab" aria-selected="true"
                    tabindex="0">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label">{{ nav.data.navtitle }}</span>
                    </span>
                    <span class="mdc-tab-indicator {% if nav.url == page.url %}mdc-tab-indicator--active{% endif %} yunha-inc-tab-indicator">
                      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                </a>
                {%- endfor -%}
                
                <button class="mdc-tab yunha-inc-tab mdc-tab--min-width" role="tab" aria-selected="false" tabindex="-1">
                  <span class="mdc-tab__content">
                    <span class="mdc-tab__text-label">Resume</span>
                  </span>
                  <span class="mdc-tab-indicator yunha-inc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </header>
  <div class="main-content" id="main-content">
    {{ content | safe }}
  </div>

  <script src="/bundle.js" async></script>
</body>

</html>
