<!DOCTYPE html>
<html lang="ko">

<head>
  <title>{{ title if title else path.title }}</title>
  <meta name="description" content="{{description if description else path.description}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="full_width" value="true" />
  <link rel="stylesheet" href="/bundle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
  <link
    rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:400,400italic,500,500italic|Roboto+Condensed:400,700|Roboto+Mono:400,500|Material+Icons"
  />
  <meta name="google-site-verification" content="turRzqtF_SNbSrs1fyPn1i2vB2tEGsdtDkjMARhpD9o" />
</head>
<body>
  <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">YUNHA Engineering</h3>
      <h6 class="mdc-drawer__subtitle">hadbsgk@gmail.com</h6>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        {%- for nav in collections.nav | reverse -%}
          <a class="mdc-list-item {% if nav.url == page.url %}mdc-list-item--activated{% endif %}" href="{{nav.url}}" aria-current="page">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ nav.data.navIcon }}</i>
            <span class="mdc-list-item__text">{{ nav.data.navtitle }}</span>
          </a>
        {%- endfor -%}
      </nav>
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title">
          <a href="/"><img src="/images/logo.svg" style="height: 30px;" alt="YUNHA Industries" height="42"></a>
        </span>
      </section>

      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <div class="mdc-tab-bar" role="tablist">
          <div class="mdc-tab-scroller mdc-tab-scroller--align-end">
            <div class="mdc-tab-scroller__scroll-area">
              <div class="mdc-tab-scroller__scroll-content">
                {%- for nav in collections.nav | reverse -%}
                <a href="{{nav.url}}">
                  <button class="mdc-tab mdc-tab--active yunha-inc-tab mdc-tab--min-width" role="tab" aria-selected="true"
                    tabindex="0">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label">{{ nav.data.navtitle }}</span>
                    </span>
                    <span class="mdc-tab-indicator {% if nav.url == page.url %}mdc-tab-indicator--active{% endif %} yunha-inc-tab-indicator">
                      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                </a>
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </header>
  <div class="main-content" id="main-content">
    {{ content | safe }}
  </div>

  {% include 'partials/footer.njk' %}

  <script src="/bundle.js" async></script>
</body>

</html>
