---
layout: layout
title: Resume
tags:
  - nav
navtitle: Resume
navIcon: description
description: |
  YUNHA's resume
---

<div class="yunha-inc--fixed-adjust">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner yunha-inc-title">
      <div class="mdc-layout-grid__cell--span-2"></div>
      <div class="mdc-layout-grid__cell--span-8">
        <div class="w-layout-container w-pb--non">
          <header class="w-page-header">
            <h1 class="w-page-header__headline">{{ title }}</h1>
            <p class="w-page-header__copy">
            {{ description }}
            </p>
          </header>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
  </div>
</div>