---
layout: layout
title: YUNHA Industry
description: |
  윤하 🏭 -  만들고 싶은 것을 만들고, 그리고 싶은 것을 그리고 기록하고 싶은 것을 기록합니다.
---

<div>
  <header class="w-masthead-home">
    <div class="w-masthead-home__container">
      <div class="w-masthead-home__left">
        <h1 class="w-headline--two w-font-weight--medium">
          {{ description }}
        </h1>
        <p>
          프로그래밍, 일기, 공부, 사업, 하고 싶은거 전부 다🔥
        </p>
        <div class="w-masthead-home__buttons">
          <a
            class="w-button w-button--primary w-masthead-home__button--primary gc-analytics-event"
            data-action="click"
            href="*"
          >
            배우기
          </a>
          <a
            class="w-button w-button--secondary gc-analytics-event"
            data-action="click"
            href="/blog"
          >
            글 읽으러가기
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="w-layout-container w-text--center">
    <p class="w-headline--two-small">
      윤하 🏭 에서는 웹, 앱, 클라우드, 머신러닝, 경제, 사업 등 학교를 벗어나 자유롭게 무엇이든 만들고 써내려갑니다.
    </p>
    <a
      class="w-button"
      href="/about"
    >
      About 윤하 🏭 
    </a>
  </section>

  <section>
    <div class="w-layout-container w-pb--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          최근에 쓴 글들
        </h2>
        <p>
          새로운 이야기들과 팁 그리고 기술들을 배울 수 있습니다.
        </p>
      </header>
    </div>
    <div class="w-layout-container mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {%- for post in collections.recentPosts -%}
          {% PostCard {post: post} %}
        {%- endfor -%}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a class="w-button" href="/blog">
          모든 글📄 보기
        </a>
      </div>
    </div>
  </section>
</div>

