---
layout: layout
title: YUNHA Industries
description: |
  YUNHA Industries: 배우고 기록하고 만듭니다.
---

<div>
  <header class="w-masthead-home">
    <div class="w-masthead-home__container">
      <div class="w-masthead-home__left">
        <h1 class="w-headline--two w-font-weight--medium">
          {{ description }}
        </h1>
        <p>
          Programming, daily life, studying, business, and so on.
        </p>
        <div class="w-masthead-home__buttons">
          <a
            class="w-button w-button--primary w-masthead-home__button--primary gc-analytics-event"
            data-action="click"
            href="*"
          >
            배우기
          </a>
          <a
            class="w-button w-button--secondary gc-analytics-event"
            data-action="click"
            href="/blog"
          >
            글 읽으러가기
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="w-layout-container w-text--center">
    <p class="w-headline--two-small">
      YUNHA Industries studies and introduces various fields such as web, app, cloud, machine learning, economy and business.
    </p>
    <a
      class="w-button"
      href="/about"
    >
      About YUNHA Industries
    </a>
  </section>

  <section>
    <div class="w-layout-container w-pb--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          최근에 쓴 글들
        </h2>
        <p>
          새로운 이야기들과 팁 그리고 기술들을 배울 수 있습니다.
        </p>
      </header>
    </div>
    <div class="w-layout-container mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {%- for post in collections.recentPosts -%}
          {% PostCard {post: post} %}
        {%- endfor -%}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a class="w-button" href="/blog">
          모든 글 보기
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="w-layout-container w-pb--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          짧은 팁 및 코드 예제 모음
        </h2>
        <p>
          간단하게 배울 수 있는 짧은 팁이나 간단한 코드 예제를 모아두었습니다.
        </p>
      </header>
    </div>
    <div class="w-layout-container mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {%- for tip in collections.recentTips -%}
          {% PostCard {post: tip} %}
        {%- endfor -%}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a class="w-button" href="/quicktips">
          모든 팁 보기
        </a>
      </div>
    </div>
  </section>
</div>

